# --- SANF Específico ---
# Banco de dados local e estados persistidos (Hive)
*.hive
*.lock
*.hive_lock
/data/
/lib/knowledge/

# Firebase e Chaves Sensíveis
.firebase/
.artifacts/
android/app/google-services.json
lib/firebase_options.dart
.env
*.env

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/android/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release
